USE [master]
GO
/****** Object:  Database [dbClothesStore]    Script Date: 10/19/2023 11:12:11 AM ******/
CREATE DATABASE [dbClothesStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbClothesStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbClothesStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbClothesStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\dbClothesStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbClothesStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbClothesStore]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/19/2023 11:12:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[idAdmin] [int] NOT NULL,
	[codeAdmin] [char](13) NOT NULL,
	[nameAdmin] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](15) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[passWord] [nvarchar](50) NOT NULL,
	[access] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[idAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/19/2023 11:12:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[idCustomer] [int] NOT NULL,
	[codeCustomer] [char](13) NOT NULL,
	[nameCustomer] [nvarchar](100) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[passWord] [nvarchar](50) NOT NULL,
	[birthDay] [date] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[phone] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[idCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/19/2023 11:12:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[idOrder] [int] NOT NULL,
	[codeOrder] [char](13) NOT NULL,
	[checkPay] [bit] NOT NULL,
	[deliveryStatus] [nvarchar](200) NOT NULL,
	[orderDate] [smalldatetime] NOT NULL,
	[deliveryDate] [smalldatetime] NOT NULL,
	[idCustomer] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[idOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 10/19/2023 11:12:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[idOrder] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](9, 2) NOT NULL,
	[idProduct_Size] [int] NOT NULL,
	[Size] [char](5) NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[idOrder] ASC,
	[idProduct_Size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/19/2023 11:12:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[idProduct] [int] NOT NULL,
	[codeProduct] [char](13) NOT NULL,
	[nameProduct] [nvarchar](100) NOT NULL,
	[describe] [ntext] NOT NULL,
	[thumb] [nvarchar](2000) NOT NULL,
	[stock] [bit] NOT NULL,
	[price] [float] NOT NULL,
	[idProductCategory] [int] NOT NULL,
	[updateDay] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Size]    Script Date: 10/19/2023 11:12:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Size](
	[idProduct_Size] [int] NOT NULL,
	[idProduct] [int] NOT NULL,
	[idSize] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_Product_Size] PRIMARY KEY CLUSTERED 
(
	[idProduct_Size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 10/19/2023 11:12:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[idProductCategory] [int] NOT NULL,
	[codeProductCategory] [char](13) NOT NULL,
	[nameProductCategory] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[idProductCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 10/19/2023 11:12:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[idSize] [int] NOT NULL,
	[nameSize] [char](10) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[idSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([idCustomer], [codeCustomer], [nameCustomer], [userName], [passWord], [birthDay], [email], [address], [phone]) VALUES (1, N'KH2123PT     ', N'hoàng1', N'asda', N'asdasd', CAST(N'2023-06-10' AS Date), N'hoanggnk.it@gmail.com', N' 1', N'0352931831')
INSERT [dbo].[Customer] ([idCustomer], [codeCustomer], [nameCustomer], [userName], [passWord], [birthDay], [email], [address], [phone]) VALUES (2, N'KH2223PT     ', N'toàn', N'toangnu', N'toanngu', CAST(N'2023-09-29' AS Date), N'dtoan.aeck@gmail.com', N'ada', N'0364584623')
GO
INSERT [dbo].[Product] ([idProduct], [codeProduct], [nameProduct], [describe], [thumb], [stock], [price], [idProductCategory], [updateDay]) VALUES (1, N'SP2123PT     ', N'Áo Sơ Mi Cổ Bẻ Tay Ngắn Vải Cotton Thấm Hút Trơn Dáng Rộng Đơn Giản PREMIUM 32', N'<p>Chất liệu: C&aacute; sấu Cotton Poly<br />
Th&agrave;nh phần: 50% Cotton 50% Xanadu<br />
- Si&ecirc;u co gi&atilde;n<br />
- &Iacute;t nhăn<br />
+ Kỹ thuật: Th&ecirc;u</p>
', N'thumb-1-20231017190611336.jpg', 1, 12000, 2, CAST(N'2023-10-17T00:00:00' AS SmallDateTime))
INSERT [dbo].[Product] ([idProduct], [codeProduct], [nameProduct], [describe], [thumb], [stock], [price], [idProductCategory], [updateDay]) VALUES (3, N'SP2323PT     ', N'Áo sơ mi tay dài', N'sa', N'thumb-1-20231017201204577.jpg', 1, 12000, 2, CAST(N'2023-10-17T00:00:00' AS SmallDateTime))
GO
INSERT [dbo].[Product_Size] ([idProduct_Size], [idProduct], [idSize], [quantity]) VALUES (1, 1, 1, 10)
INSERT [dbo].[Product_Size] ([idProduct_Size], [idProduct], [idSize], [quantity]) VALUES (2, 1, 2, 12)
INSERT [dbo].[Product_Size] ([idProduct_Size], [idProduct], [idSize], [quantity]) VALUES (3, 1, 3, 13)
GO
INSERT [dbo].[ProductCategory] ([idProductCategory], [codeProductCategory], [nameProductCategory]) VALUES (1, N'DMSP2123PT   ', N'Quần Short')
INSERT [dbo].[ProductCategory] ([idProductCategory], [codeProductCategory], [nameProductCategory]) VALUES (2, N'DMSP2223PT   ', N'Áo sơ mi')
INSERT [dbo].[ProductCategory] ([idProductCategory], [codeProductCategory], [nameProductCategory]) VALUES (3, N'DMSP2323PT   ', N'Áo thun')
GO
INSERT [dbo].[Size] ([idSize], [nameSize], [status]) VALUES (1, N'S         ', N'11')
INSERT [dbo].[Size] ([idSize], [nameSize], [status]) VALUES (2, N'M         ', N'1')
INSERT [dbo].[Size] ([idSize], [nameSize], [status]) VALUES (3, N'L         ', N'1')
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([idCustomer])
REFERENCES [dbo].[Customer] ([idCustomer])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([idOrder])
REFERENCES [dbo].[Order] ([idOrder])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product_Size] FOREIGN KEY([idProduct_Size])
REFERENCES [dbo].[Product_Size] ([idProduct_Size])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product_Size]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductCategory] FOREIGN KEY([idProductCategory])
REFERENCES [dbo].[ProductCategory] ([idProductCategory])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductCategory]
GO
ALTER TABLE [dbo].[Product_Size]  WITH CHECK ADD  CONSTRAINT [FK_Product_Size_Product] FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([idProduct])
GO
ALTER TABLE [dbo].[Product_Size] CHECK CONSTRAINT [FK_Product_Size_Product]
GO
ALTER TABLE [dbo].[Product_Size]  WITH CHECK ADD  CONSTRAINT [FK_Product_Size_Size] FOREIGN KEY([idSize])
REFERENCES [dbo].[Size] ([idSize])
GO
ALTER TABLE [dbo].[Product_Size] CHECK CONSTRAINT [FK_Product_Size_Size]
GO
USE [master]
GO
