
<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">




                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1250809470">
                        <div class="img-inner dark">
                            <img width="1400" height="500" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201400%20500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" class="lazy-load lazy-load attachment-original size-original" alt="" decoding="async" loading="lazy" data-src="../trangchu/workshirti.com/wp-content/uploads/2023/07/ClothesShopStore.jpg" />
                        </div>

                        <style>
                            #image_1250809470 {
                                width: 100%;
                            }
                        </style>
                    </div>


                    <div class="is-divider divider clearfix" style="height:0px;"></div>

                   



                    <div class="row large-columns-3 medium-columns- small-columns-2 row-small">
                        @Html.Action("AoSoMiPartial", "Home")
                        <div class="is-divider divider clearfix" style="height:0px;"></div>
                        @Html.Action("QuanTayPartial", "Home")
                    </div>

                    <div class="is-divider divider clearfix" style="height:0px;"></div>

                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1989859785">
                        <div class="img-inner dark">
                            <img width="1400" height="500" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201400%20500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" class="lazy-load lazy-load attachment-original size-original" alt="" decoding="async" loading="lazy" data-src="../trangchu/workshirti.com/wp-content/uploads/2023/07/shop-ao-so-mi.jpg" />
                        </div>

                        <style>
                            #image_1989859785 {
                                width: 100%;
                            }
                        </style>
                    </div>


                    <div class="is-divider divider clearfix" style="max-width:0px;height:0px;"></div>

                    <div id="text-2407114964" class="text">


                        <h2>Collections Today</h2>

                        <style>
                            #text-2407114964 {
                                text-align: center;
                            }
                        </style>
                    </div>

                    <div class="is-divider divider clearfix" style="max-width:0px;height:0px;"></div>



                    <div class="row large-columns-4 medium-columns-3 small-columns-2 row-small slider row-slider slider-nav-simple slider-nav-outside" data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : false}'>

                        <div class="product-category col">
                            <div class="col-inner">
                                <a href="/trangchu/workshirti.com/product-category/ao-so-mi/index.html">
                                    <div class="box box-category has-hover box-overlay dark ">
                                        <div class="box-image">
                                            <div class="image-overlay-remove-50 image-zoom">
                                                <img class="lazy-load" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20300%20300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="../trangchu/workshirti.com/wp-content/uploads/2023/07/ao-so-mi-xanh.jpg" alt="Babydoll Dress" width="300" height="300" />                  <div class="overlay" style="background-color: rgba(0, 0, 0, 0.19)"></div>
                                            </div>
                                        </div>
                                        <div class="box-text text-center">
                                            <div class="box-text-inner">
                                                <h5 class="uppercase header-title">
                                                    Áo sơ mi
                                                </h5>
                                                <p class="is-xsmall uppercase count show-on-hover hover-reveal reveal-small">
                                                    3 sản phẩm
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="product-category col">
                            <div class="col-inner">
                                <a href="/trangchu/workshirti.com/product-category/quan-tay-au/index.html">
                                    <div class="box box-category has-hover box-overlay dark ">
                                        <div class="box-image">
                                            <div class="image-overlay-remove-50 image-zoom">
                                                <img class="lazy-load" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20300%20300%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="../trangchu/workshirti.com/wp-content/uploads/2023/07/quan-tay-au-be.jpg" alt="Bustier Dress" width="300" height="300" />                  <div class="overlay" style="background-color: rgba(0, 0, 0, 0.19)"></div>
                                            </div>
                                        </div>
                                        <div class="box-text text-center">
                                            <div class="box-text-inner">
                                                <h5 class="uppercase header-title">
                                                    Quần tây âu
                                                </h5>
                                                <p class="is-xsmall uppercase count show-on-hover hover-reveal reveal-small">
                                                    3 Sản phẩm
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>


                    </div>



                </div>
            </div>
        </div>
    </div>


</main>
