
<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">




                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1250809470">
                        <div class="img-inner dark">
                            <img width="1400" height="500" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201400%20500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" class="lazy-load lazy-load attachment-original size-original" alt="" decoding="async" loading="lazy" data-src="../trangchu/workshirti.com/wp-content/uploads/2023/07/ClothesShopStore.jpg" />
                        </div>

                        <style>
                            #image_1250809470 {
                                width: 100%;
                            }
                        </style>
                    </div>


                    <div class="is-divider divider clearfix" style="height:0px;"></div>

                   



                    <div class="row large-columns-3 medium-columns- small-columns-2 row-small">
                        @Html.Action("AoSoMiPartial", "Home")
                        <div class="is-divider divider clearfix" style="height:0px;"></div>
                        @Html.Action("QuanTayPartial", "Home")

                    </div>

                    <div class="is-divider divider clearfix" style="height:0px;"></div>

                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1989859785">
                        <div class="img-inner dark">
                            <img width="1400" height="500" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%201400%20500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" class="lazy-load lazy-load attachment-original size-original" alt="" decoding="async" loading="lazy" data-src="../trangchu/workshirti.com/wp-content/uploads/2023/07/shop-ao-so-mi.jpg" />
                        </div>

                        <style>
                            #image_1989859785 {
                                width: 100%;
                            }
                        </style>
                    </div>


                    <div class="is-divider divider clearfix" style="max-width:0px;height:0px;"></div>


                    <div class="is-divider divider clearfix" style="max-width:0px;height:0px;"></div>






                </div>
            </div>
        </div>
    </div>


</main>
