<div class="flex-row container">
    <div class="flex-col hide-for-medium flex-center">
        <ul class="nav header-nav header-bottom-nav nav-center  nav-divided nav-size-medium nav-spacing-xlarge">
            <li id="menu-item-2229086" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2229086 menu-item-design-default"><a href="/trangchu/index.html" class="nav-top-link">Trang chủ</a></li>
            <li id="menu-item-2231076" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2231076 menu-item-design-default has-dropdown">
                <a href="/trangchu/workshirti.com/shop" class="nav-top-link">Bộ sưu tập<i class="icon-angle-down"></i></a>
                <ul class="sub-menu nav-dropdown nav-dropdown-default dark dropdown-uppercase">
                    <li id="menu-item-2231297" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2231297"><a href="/trangchu/workshirti.com/product-category/ao-so-mi/index.html">Áo sơ mi</a></li>
                    <li id="menu-item-2231298" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2231298"><a href="/trangchu/workshirti.com/product-category/quan-tay-au/index.html">Quần tây, âu</a></li>
                    <li id="menu-item-2231299" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2231299"><a href="/trangchu/workshirti.com/product-category/fit-flare-dress-workshirti/">/</a></li>
                    <li id="menu-item-2231300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2231300"><a href="/trangchu/workshirti.com/product-category/midi-dress-workshirti/">/</a></li>
                </ul>
            </li>
            <li id="menu-item-2231303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2231303 menu-item-design-default"><a href="/trangchu/workshirti.com/workshirti-track-your-order/index.html" class="nav-top-link">Theo dõi đơn hàng</a></li>
            <li id="menu-item-2231304" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2231304 menu-item-design-default"><a href="/trangchu/workshirti.com/contact-workshirti/index.html" class="nav-top-link">Liên hệ</a></li>
            <li id="menu-item-2231305" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2231305 menu-item-design-default"><a href="/trangchu/workshirti.com/workshirti-size-guide/index.html" class="nav-top-link">Hướng dẫn chọn cỡ áo sơ mi</a></li>
        </ul>
    </div>
</div>
