@model ClotheSstore.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Product</h4>
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="card">
    <div class="card-body">
        <h4>Thêm Danh mục</h4>
        <h2 style="color:red">@ViewBag.ThongBao</h2>
        <div class="m-t-25">
            <form id="form-validation">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label control-label">Tên sản phẩm*</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="nameProduct">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label control-label">Mô tả*</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="describe">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label control-label">Hình ảnh*</label>
                    <div class="col-md-5">
                        <input type="file" class="form-control" name="thumb">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label control-label">Số lượng*</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="quantity">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label control-label">Giá*</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="price">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label control-label">Ngày thêm*</label>
                    <div class="col-md-5">
                        <input type="date" class="form-control" name="updateDay">
                    </div>
                </div>
                <div class="form-group text-left">
                    <button class="btn btn-success btn-tone m-r-5">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        @Html.ActionLink("Quay về danh sách sản phẩm", "Index")
    </div>
</div>
</div>
}
